@use "variaveis";
@use "header";
@use "hero";
@use "promise";
@use "community";
@use "coach";
@use "results";
@use "video-grid";
@use "calls";
@use "change";
@use "offer";
@use "footer";

$breakpointTablet: "(min-width: 768px) and (max-width: 1023px)";
$breakpointMobile: "(max-width: 1000px)";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }

    html,
    body {
    width: 100%;
    overflow-x: hidden;
    background-color: rgb(0, 0, 0);
    color: #fff;
    font-family: "Red Hat Display", sans-serif;
    }

    li {
    list-style: none;
    }